player-connection-mode=Connect
player-connection-guid=2684043938
player-connection-debug=0
player-connection-project-name=UnityComputeShaders
player-connection-wait-timeout=-1
player-connection-ip=192.168.100.105
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=a9ce544dd97c4fbbbb8830524618305e
